.header {
    height: 600px;
    width: auto;
    background-position: 50% 70%;
    background-image: url(../../assets/images/header_image-large.jpg);

    &__top {
        background-color: #00C4B0;
        width: 100%;
        height: 100px;
        filter: grayscale(0%);
        position: relative;
    }


    &__top-menu-item {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-40%);
        cursor: pointer;
    }

    &__top-menu-item div {
        width: 50px;
        height: 7px;
        background-color: #fff;
        position: absolute;
    }

    &__top-menu-item div:nth-of-type(2) {
        top: 16px;
    }

    &__top-menu-item div:nth-of-type(3) {
        top:32px
    }

}